tb-card {
    display: flex;
    flex: 1 0 auto;
    margin: 5vh 5vw;
}

.sample-class {
    flex: auto;
    display: flex;
    background-color: var(--color-primary);
    filter: brightness(120%);
}

tb-card {
    display: flex;
    flex: 1 0 auto;
    margin: 5vh 5vw;
}