.title-wrapper {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

.dings {
    font-size: 700;
}
.dings svg {
    fill: linear-gradient(to right, #ff416c, #ff4b2b);;
}

.dings {
    color: linear-gradient(to right, #ff416c, #ff4b2b);
}

.router-flex {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }