.title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.dings {
    font-size: 700;
}
.dings svg {
    fill: linear-gradient(to right, #ff416c, #ff4b2b);;
}

.dings {
    color: linear-gradient(to right, #ff416c, #ff4b2b);
}