<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>{{ 'app.description' | translate }}</span>
  <span class="flex-spacer"></span>
  <mat-form-field>
    <mat-label>{{'app.language' | translate}}</mat-label>
    <mat-select [value]="selectedLanguage" (valueChange)="setLanguage($event.id)">
      <mat-option *ngFor="let lan of AVAILABLE_LANGUAGES" [value]="lan">{{lan.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>
<router-outlet></router-outlet>