@import "../../../material.scss";

.card {
    flex: auto;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}

.mat-card-footer {
    margin: unset !important;
    display: inline-flex;
}

.tabu-text {
    font-size: x-large;
}

.tabu-item {
    margin: 2em 0px;
}

.error {
    border-color: $warn;
    border-style: solid;
    animation: mymove 1s infinite;
}

@keyframes mymove {
    0% {background-color: lighten($warn, 20%);}
    50% {background-color: $warn;}
    100% {background-color: lighten($warn, 20%);}
  }